/* :root {
  --maincolor: #2b64d2;
  --secondarycolor: #999999;
  --textcolor: #555555;
  --chatcolor: #eeeeee;
  --textfont: "Red Hat Display";
} */

.home_heading {
  color: var(--maincolor);
  font-size: 55px;
  font-weight: 600;
}

.home_hr {
  background-color: orange;
  border: 2px solid orange;
  height: 5px;
  margin-bottom: 20px;
  margin-left: 2px;
  width: 30%;
}

.home_subheading {
  font-size: 18px;
  max-width: 90%;
}

.home_image_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home_banner {
  max-width: 100%;
}

.home_github_button {
  background-color: #24292e;
  border: 0;
  border-radius: 30px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 25px;
  margin: 5px;
  transition: all 0.3s ease 0s;
}
.home_github_button:hover {
  box-shadow: 0 8px 15px black;
  background: black;
  color: white;
  transform: translateY(-5px);
}

.home_github_button:not(:disabled):not(.disabled):active,
.home_github_button:not(:disabled):not(.disabled):active:focus,
.home_github_button:focus {
  background-color: black;
  border: 0;
  box-shadow: 0 0 0 0.2rem var(--maincolor);
  color: white;
}


.home_github_icon {
  height: 20px;
  margin: 5px 10px 5px 5px;
  width: 20px;
}

.home_slack_button {
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  color: black;
  font-weight: 600;
  padding: 6px 25px;
  margin: 5px;
  transition: all 0.3s ease 0s;


}

.home_slack_button:hover {
  border: 1px solid black;
  box-shadow: 0 8px 15px black;
  background-color: white;
  color: black;
  transform: translateY(-5px);
}

.home_slack_button:not(:disabled):not(.disabled):active,
.home_slack_button:not(:disabled):not(.disabled):active:focus,
.home_slack_button:focus {
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 0 0.2rem var(--maincolor);
  color: black;
}

.home_slack_icon {
  height: 25px;
  margin: 2px 10px 3px 5px;
  width: 25px;
}

.home_mission {
  background-color: var(--maincolor);
  border-radius: 10px;
  padding: 25px 40px 15px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.home_mission_heading {
  color: white;
  font-size: 50px;
}

.home_mission_content {
  margin-top: 10px;
  color: white;
}

@media (max-width: 768px) {
  .home_image_container {
    margin-top: 30px;
  }

  .home_heading {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .home_github_button,
  .home_slack_button {
    padding: 6px 15px;
  }

  .home_hr {
    height: 2px;
    margin-bottom: 20px;
    margin-left: 2px;
    width: 25%;
  }
}

.about_card_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.about_card_container.col_md_6,
.about_card_container.col_lg_4 {
  padding-left: 0;
  padding-right: 0;
}

.about_card {
  border: 1px solid white;
  display: inline-block;
  min-height: 382px;
  max-width: 370px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: all 0.3s ease 0s;
}

.about_card:hover {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 8px 15px black;
}

.about_card_heading {
  color: black;
  font-size: 35px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about_card_content {
  margin-left: auto;
  margin-right: auto;
  max-width: 85%;
  text-align: justify;
}

.about_sketch {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 70px;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 1200px) and (min-width: 960px) {
  .about_card {
    min-height: 442px;
  }
}

@media (max-width: 960px) {
  .about_card {
    min-height: 399px;
  }
}

.value_tabs_container {
  min-width: 125px;
  padding-left: 20px;
}

.value_tab {
  border-left: 3px solid blue;
  cursor: pointer;
  max-height: 100px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
}

.value_tab.h6 {
  font-size: 22px;
  font-weight: 500;
}
.value_tab.active {
  border-left: 3px solid blue;
  color: blue;
}

.value_description_container {
  max-height: 415px;
  overflow-x: auto;
}

.value_description_heading {
  font-size: 25px;
  font-weight: 500;
  padding-top: 100px;
}

.value_description {
  font-size: 20px;
  padding-top: 15px;
}

.value_button {
  background-color: blue;
  border: 0;
  border-radius: 8px;
  color: white;
  float: right;
  font-size: 16px;
  font-weight: 500px;
  margin-top: 20px;
  padding: 8px 14px;
  transition: all 0.3s ease 0s;

  &:hover {
    box-shadow: 0 8px 15px black;
    background-color: blue;
    color: white;
    transform: translateY(-5px);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled):active:focus,
  &:focus {
    background-color: blue;
    border: 0;
    box-shadow: 0 0 0 0.2rem blue;
    color: white;
  }
}

@media (max-width: 768px) {
  .value_padding_description_container {
    padding-left: 35px;
  }

  .value_description_heading {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .value_padding_description_container {
    padding-left: 50px;
  }

  .value_description_heading {
    font-size: 20px;
    padding-top: 50px;
  }

  .value_description {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .value_padding_description_container {
    padding-left: 5px;
  }
  .value_tab {
    padding-left: 5px;
    padding-right: 0;

    h6 {
      font-size: 18px;
      max-width: 100%;
    }
  }

  .value_padding_description_container {
    margin-left: 15px;
    max-width: 200px;
  }

  .value_description_heading {
    font-size: 20px;
    padding-top: 20px;
  }

  .value_description {
    font-size: 16px;
  }

  .value_button {
    font-size: 16px;
    font-weight: 500px;
    margin-top: 10px;
    padding: 6px 12px;
  }
}

@media (max-width: 417px) {
  .value_tabs_container {
    padding-right: 0;
  }
  .value_padding_description_container {
    max-width: 180px;
    overflow-x: auto;
  }
}

@media (max-width: 400px) {
  .value_tabs_container {
    padding-left: 0;
  }

  .value_padding_description_container {
    max-width: 150px;
    overflow-x: auto;
  }
}

.timeline_card_container {
  padding-left: 0;
  padding-right: 0;

  
}

.timeline_card_container::nth-child(2),
.timeline_card_container::last-child {
      .timeline_card::before {
        background-color: blue;
        border: 0;
        border-radius: 50%;
        bottom: 20px;
        color: blue;
        content: "";
        display: block;
        height: 25px;
        left: -5px;
        padding: 8px;
        position: absolute;
        width: 25px;
        z-index: 10;
      }
  }

.timeline_card_container:last-child {
  .timeline_card {
    border-bottom: 8px solid white;
  }
}

.timeline_container {
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  max-width: none;
  overflow-x: scroll;
  padding-bottom: 15px;
  padding-left: 20px;
  position: relative;

}

.timeline_container::-webkit-scrollbar {
  width: 6px;
}

.timeline_container::-webkit-scrollbar-track {
  background: white;
}

.timeline_container::-webkit-scrollbar-thumb {
  background: blue;
}

.timeline_card {
  border-bottom: 8px solid blue;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.timeline_card_content {
  max-width: 85%;
}

.timeline_summary_container {
  background-color: blue;
  border: 0;
  height: 400px;
  margin-right: 20px;
  max-width: 400px;
  padding: 25px;
}

.timeline_summary_heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.timeline_summary_hr {
  background-color: orange;
  border: 1px solid orange;
  height: 3px;
  margin-bottom: 15px;
  margin-left: 2px;
  width: 30%;
}

.project_container {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: justify;
  transform: skewY(0deg);
}

.project_image_container {
  padding-left: 0;
  padding-right: 0;
}

.project_image {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

.project_card {
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.project_heading {
  color: black;
  font-size: 35px;
  text-align: center;
}

.project_subheading {
  font-size: 20px;
  text-align: center;
}

.project_anchor_container {
  text-align: center;
}

.project_design_container {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 15px 20px;
}

.project_design_heading {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.project_design_text {
  display: inline-block;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

.project_design_image_container {
  margin-left: auto;
  text-align: right;
}

.project_design_image {
  max-height: 200px;
  max-width: 60%;
}

@media (max-width: 1200px) {
  .project_container_first_background {
    top: 3400px;
  }
  .project_container_second_background {
    top: 4300px;
  }
}

@media (max-width: 992px) {
  .project_container_first_background {
    top: 3900px;
  }
  .project_container_second_background {
    top: 5000px;
  }
}

@media (max-width: 768px) {
  .project_container_first_background {
    top: 4300px;
  }
  .project_container_second_background {
    top: 5500px;
  }
}

.statistics_row {
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}

.statistics_column {
  padding-bottom: 15px;
}

.statistics_heading {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 0;
}

.statistics_subheading {
  font-size: 35px;
  font-weight: 500;
}

@media (max-width: 992px) {
  .statistics_heading {
    font-size: 40px;
  }

  .statistics_subheading {
    font-size: 25px;
  }
}

.backer_row {
  padding-bottom: 50px;
}

.backer_logo_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.backer_logo {
  max-width: 33%;
  padding-left: 15px;
  padding-right: 15px;
  object-fit: cover;
}

.backer_logo2 {
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;
  object-fit: cover;
}

.backer_gitbook_logo {
  max-width: 45%;
}

@media (max-width: 992px) {
  .backer_logo,
  .backer_logo2 {
    max-width: 185px;
  }

  .backer_gitbook_logo {
    max-width: 150px;
  }
}
.join_container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
